
body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background: rgb(39, 26, 26);
}
.intro{
    margin: 20px 0 20px 0px;
    color: rgb(255, 255, 255);

}
.choice{
    display: flex;
    justify-content: space-around;
}


.piano img{
    cursor: pointer;
    border: 3px white solid;
    width: 300px;
    height: 350px;
}
piano img:hover{
    opacity: .5;
}
