*{
    padding: 0px;
    margin: 0px;
}
header{
    text-align: center;
    margin: 40px 0px 100px 0px;
}
.pianos{
    
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    
    
}
.pianos > div{
   height: 30vh;
   width: 40px;
   color: white;
   background: black;
    
}
footer{
    text-align: center;
    margin: 40px 0 40px 0px;
}